In [4]:
class Student:
    pass

bapan = Student()
akash = Student()
print(bapan)
print(akash)

print(id(bapan))
print(id(akash))

<__main__.Student object at 0x0000018A38867890>
<__main__.Student object at 0x0000018A38864C10>
1693165451408
1693165440016

In [7]:
## initializing two objects of the `int` class
x = 111
y = 14

print(id(x))
print(id(y))

140709163823336
140709163820232

In [8]:
## initializing two objects of the `str` class
a = 'Bapan'
b = 'bapan'

print(id(a))
print(id(b))

1693165537392
1693165325232

In [14]:
class Student:
    name = 'Bapan'
    roll_no = 101
    standard = 10


s1 = Student()
print(s1.name)
print(s1.roll_no)
print(s1.standard)

attributes = vars(s1)
attributes

Bapan
101
10

{}

In [12]:
s1.name = 'Purnima'
s1.name

'Purnima'

In [13]:
attributes = vars(s1)
attributes

{'name': 'Purnima'}

In [27]:
class Person:
    NAME = 'Bapan Bairagya'
    
    def __init__(self, name, age, phone_no, address) -> None:
        self.name = name
        self.age = age
        self.phone_no = phone_no
        self.address = address
    
    def age_group(self):
        if (self.age < 18):
            print('Minor')
        elif (self.age >= 18) and (self.age < 36):
            print('Adult')
        elif (self.age >= 36) and (self.age < 56):
            print('Senior Citizen')
        else:
            print('older Citizen')    


p1 = Person('Bapan', 17, '+91-78920XXXXX', '#421, Jackson Street')
print(p1.phone_no)

## accessing the class variable
print(p1.NAME)

p1.age_group()

+91-78920XXXXX
Bapan Bairagya
Minor
Bapan Bairagya

In [40]:
from typing import Any


class Bike:
    
    def __init__(self, name, model, price) -> None:
        self.name = name
        self.model = model
        self.price = price
        
    def __str__(self) -> str:
        return f'{self.name} with model: {self.model}'
    
    def __add__(self, other):
        return self.price + other.price
    
    def __call__(self, *args: Any, **kwds: Any) -> Any:
        return 'I JUST GOT CALLED WOHOOOOO!!!'


b1 = Bike('KTM', '290cc', 101)
b2 = Bike('KTM', '390cc', 150)
b3 = Bike('Yamaha', '250cc', 75)

print(b1)

print(b1())

b1 + b2
b1 + b3
b2 + b3

KTM with model: 290cc
I JUST GOT CALLED WOHOOOOO!!!

225

In [41]:
vars(b2)

{'name': 'KTM', 'model': '390cc', 'price': 150}

In [47]:
class Student:
    batch = 'July_Adv_2024'
    
    def __init__(self, name, age, phone_no) -> None:
        self.name = name
        self.age = age
        self.phone_no = phone_no

s1 = Student('Bapan', 18, '+91-7892XXXXXX')
s2 = Student('Ankhi', 22, '+91-1236547890')
print(s1.phone_no)
print(s2.name)

print(s1.batch)

+91-7892XXXXXX
Ankhi
July_Adv_2024

In [49]:
s1.name = 'Vinod'
print(s1.name)

s1.batch = 'July_Adv_2020'
print(s1.batch)

print(s2.batch)

print(Student.batch)

Vinod
July_Adv_2020
July_Adv_2024
July_Adv_2024

In [50]:
Student.batch = 'July_Adv_2022'

s3 = Student('Amit', 24, '+91-0303000002')
s3.batch

'July_Adv_2022'

In [1]:
import math

class Circle:
    
    def __init__(self, radius) -> None:
        self.r = radius
    
    def area(self):
        return math.pi * (self.r * self.r)
    
    def perimeter(self):
        return 2 * math.pi * self.r


circle = Circle(22)
print(circle.area())
print(circle.perimeter())

1520.53084433746
138.23007675795088

In [4]:
## Note: Standard practice is to register the instance variables in the constructor

class Example:
    
    def __init__(self, a, b) -> None:
        self.a = a
        self.b = b
    
    def calculate(self, c, d):
        self.c = c
        self.d = d
        return self.a * self.c + self.b * self.d
    
    def sum(self):
        return self.c + self.d
    
e1 = Example(3, 5)
print(e1.a)
print(e1.b)

e1.calculate(7, 9)
print(e1.sum())

print(e1.c)
print(e1.d)

3
5
16
7
9

In [9]:
## Inheritance

class Parent:
    pass

class Child(Parent):
    pass

In [12]:
class Animal:
    
    def __init__(self, species) -> None:
        self.species = species
    
    def eat(self, food):
        print(f"I'm eating {food} Umm Umm...")


class Cat(Animal):
    
    def __init__(self, name) -> None:
        Animal.__init__(self, 'Cat')
        self.name = name
    
    def speak(self):
        print('Meowww Meowww Meowww...')


c1 = Cat('Tom')
print(c1.species)
print(c1.name)

c1.eat('fish')
c1.speak()

Cat
Tom
I'm eating fish Umm Umm...
Meowww Meowww Meowww...

In [16]:
## Single inheritance
## Vehicle --> Car

class Vehicle:
    
    def __init__(self, brand, model) -> None:
        self.brand = brand
        self.model = model
    
    def displayInfo(self):
        print(f"Brand: {self.brand} & model: {self.model}")

class Car(Vehicle):
    
    def __init__(self, brand, model, price, car_type) -> None:
        super().__init__(brand, model)
        self.price = price
        self.car_type = car_type
    
    def carInfo(self):
        self.displayInfo()
        print(f"Price: {self.price} & type of the car: {self.car_type}")


c = Car('Toyota', 'SUV', '$16,000', 'Manual')
c.carInfo()

Brand: Toyota & model: SUV
Price: $16,000 & type of the car: Manual